$main-font: Arial;
$headings-font: Tahoma;
$font-size: 15px;
$font-color: #333;


$main-color: #245953;
$secondary-color: #408e91;
$main-color-tinted: mix(white, $main-color, 10%);
$secondary-color-tinted: mix(white, $secondary-color, 10%);


/*
    Цветовая Гамма Этого Шаблона
    При Желении Может Быть Изменена:

    $main-color: #4e31aa;
    $secondary-color: #434242;

    $main-color: #181d31;
    $secondary-color: #000;

    $main-color: #181d31;
    $secondary-color: #000;

    $main-color: #355764;
    $secondary-color: #5a8f7b;


*/

$template-width: 50%;
$podrobnosti-height: 400px;
$icons-size: 55px;